<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.softwaretest.Mapper.CommissionMapper">
    <select id="getTestCases" resultType="Commission">
        select id,host,display,peripheral,sales,commission,pass
        from softwareTesting.Commission
    </select>

    <delete id="cleanTestCases">
        delete from softwareTesting.Commission;
    </delete>

    <insert id="saveTestCases" parameterType="Commission">
        insert into softwareTesting.Commission(host,display,peripheral,sales,commission)
        values(#{host},#{display},#{peripheral},#{sales},#{commission})
    </insert>

</mapper>