<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.softwaretest.Mapper.PhoneMapper">

    <select id="getTestCases" resultType="Phone">
        select id, length,times,expectOff,expectResult,actualOff,actualResult,pass
        from softwareTesting.Phone;
    </select>

    <delete id="cleanTestCases">
        delete from softwareTesting.Phone;
    </delete>

    <insert id="saveTestCases" parameterType="Phone">
        insert into softwareTesting.Phone(length,times,expectOff,expectResult,actualOff,actualResult,pass)
        values(#{length},#{times},#{expectOff},#{expectResult},#{actualOff},#{actualResult},#{pass})
    </insert>

    <select id="queryPass" resultType="Double">
        select count(pass)
        from softwareTesting.Phone
        where pass = 1
    </select>

    <select id="total" resultType="Double">
        select count(pass)
        from softwareTesting.Phone
    </select>
</mapper>