<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.softwaretest.Mapper.TriangleMapper">


    <select id="getTestCases" resultType="Triangle">
        select id, a, b, c, expectResult,actualResult, pass
        from softwareTesting.Triangle;
    </select>

    <delete id="cleanTestCases">
        delete from softwareTesting.Triangle;
    </delete>

    <insert id="saveTestCases" parameterType="Triangle">
        insert into softwareTesting.Triangle(a,b,c,expectResult,actualResult,pass)
        values(#{a},#{b},#{c},#{expectResult},#{actualResult},#{pass})
    </insert>

    <select id="queryPass" resultType="Double">
        select count(pass)
        from softwareTesting.Triangle
        where pass = 1
    </select>

    <select id="total" resultType="Double">
    select count(pass)
    from softwareTesting.Triangle
    </select>
</mapper>